body {
	margin: 0;
	font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	font-size: 14px;
	line-height: 1.5;
	color: #333;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0 0 0.5em 0;
	font-weight: 400;
	line-height: 1.2;
}

a {
	color: inherit;
}

code {
	font-family: menlo, inconsolata, monospace;
	font-size: calc(1em - 2px);
	color: #555;
	background-color: #f0f0f0;
	padding: 0.2em 0.4em;
	border-radius: 2px;
}

@media (min-width: 400px) {
	body {
		font-size: 16px;
	}
}

/* text */
p, li {
	font-size: 1.125em;
	line-height: 1.7;
}
strong {
	font-weight: bold;
}

/* heading tags */
h1 {
	font-size: 2.25em;
	font-weight: bold;
	margin: 0 0 1.0em 0;
}
h2 {
	position: relative;
	font-size: 1.875em;
	font-weight: bold;
	margin: 1em 0 0.5em 0;
	padding: 0.2em 0 0.1em 0.4em;
	border-left: solid 0.8em #333;
	border-bottom: solid 0.1em #333;
}
h2::before {
	position: absolute;
	content: '';
	top: 0em;
	left: -0.5em;
	width: 0.5em;
	height: 1.5em;
	background-color: #25f2f1;
}
h3 {
	position: relative;
	font-size: 1.5em;
	font-weight: bold;
	margin: 1em 0 1em 0;
	padding: 0.2em 0 0.2em 0.6em;
	border-bottom: solid 0.1em #333;
}
h3::before {
	position: absolute;
	content: '';
	top: 0em;
	left: 0em;
	width: 0.4em;
	height: 1.6em;
	background-color: #25f2f1;
}
